
/** {
    border: 1px solid red;
}
*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* HERO SECTION */ 

.first-section {  /*container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
    background-color: #1F2937;
    flex: 1 1 auto;
}

.first-section .left-side, .right-side {
    padding: 32px;
}

.first-section .left-side {
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    flex: 1;
}

.first-section .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.first-section img {
    width: 400px;
    height: 300px;
    border-radius: 8%;
}

.blue-back {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/* Images section */

.second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 200px;
}

.second-section h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.second-section .images {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    width: 300px;
    gap: 32px;
}

.second-section .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.second-section img {
    border: 5px solid blue;
    border-radius: 10%;
    width: 200px;
}

.images p {
    font-weight: 18px;
    color: rgb(73, 72, 72);
    width: 150px;
}

/* QUOTE SECTION */

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.third-section .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.third-section .quote-credit {
    color: #1F2937;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

/* CALL TO ACTION SECTION */

.fourth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin: 15px 0;

}

.fourth-section .call-to-action {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    border-radius: 2%;
    padding: 15px 50px;
}

.fourth-section .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.fourth-section .call {
    font-weight: bold;
    font-size: 20px;
}

.fourth-section .right-side {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 200px;
}

.fourth-section button {
    border: 2px solid white;
}

.fourth-section .message {
    margin-top: -10px;
}

/* ------------ */

footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

img {   
    width: 150px;
    height:150px;
}

header {
    background-color:#1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

button {
    color: white;
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 10%;
}

