
* {
    border: 1px solid red;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* HERO SECTION */ 

.first-section {  /*container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 200px;
    background-color: #1F2937;
    flex: 1 1 auto;
}

.first-section .left-side, .right-side {
    padding: 32px;
}

.first-section .left-side {
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    flex: 1;
}

.first-section .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.first-section img {
    width: 400px;
    height: 300px;
    border-radius: 8%;
}

.blue-back {
    font-size: 18px;
    color: #E5E7EB;
}

.main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

/* Images section */

.second-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px 200px;
}

.second-section h3 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.second-section .images {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    width: 300px;
    gap: 32px;
}

.second-section .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.second-section img {
    border: 5px solid blue;
    border-radius: 10%;
    width: 200px;
}

.images p {
    font-weight: 18px;
    color: rgb(73, 72, 72);
    width: 150px;
}

/* QUOTE SECTION */

.third-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
}

.third-section .quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

.third-section .quote-credit {
    color: #1F2937;
    text-align: end;
    font-weight: bold;
    font-size: 24px;
}

/* CALL TO ACTION SECTION */

